<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    .custom-dropdown {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 100%;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      max-height: 200px;
      overflow-y: auto;
    }

    .dropdown-content div {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .dropdown-content div:hover {
      background-color: #f1f1f1;
    }

    .custom-dropdown input:focus+.dropdown-content {
      display: block;
    }

    .block-image {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  </style>
</head>

<body>
  <div class="min-h-screen bg-cover bg-center flex flex-col items-center justify-center"
    style="background-image: url('static/img/bg.jpg');">
    <div class="text-center mb-8">
      <h1 class="text-5xl font-bold text-white" style="text-shadow: 2px 2px 0px #000, 3px 4px 0px #000;">Minecraft Guessing Game</h1>
    </div>
    <div class="bg-zinc-800 bg-opacity-75 p-8 rounded-lg shadow-lg max-w-lg w-full border-2 border-white">
      <h2 class="text-3xl font-bold text-white mb-4">WHAT IS THE NAME OF THIS BLOCK?</h2>
      <hr class="border-blue-600 mb-4">
      <div class="text-2xl font-bold text-white mb-4 bg-opacity-30 bg-white p-4 rounded-md shadow-md text-center">
        <h1>{{ initial_hint }}</h1>
      </div>
      <p class="text-zinc-400 mb-4">Type block name in the input below</p>
      <!-- Dropdown and Input -->
      <div class="relative custom-dropdown mb-4">
        <input id="blockInput" placeholder="Type or select block name..."
          class="w-full p-3 rounded-lg bg-zinc-700 text-white placeholder-zinc-400 focus:ring-2 focus:ring-blue-500" autocomplete="off">
        <div id="dropdownContent" class="dropdown-content bg-white border border-gray-300 rounded-md shadow-lg mt-2">
        </div>
        <button class="absolute right-0 top-0 h-full px-4 bg-blue-600 text-white rounded-r-lg hover:bg-blue-700" id="guess-button">
          <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
      </div>
      <div id="additional-hints" class="overflow-y-auto max-h-48 space-y-2 mb-4">
        <!-- JavaScript will dynamically add collapsible hints here -->
      </div>
      
      <button id="hint-button" class="bg-blue-500 text-white p-2 rounded-lg hover:bg-blue-600 transition duration-300">Get Another Hint</button>
      <div id="hint-counter" class="text-zinc-400 mb-4">Hints available: 0/0</div>
      <div id="result-message" class="text-center mt-4 p-2 rounded-md transition duration-300"></div>
    </div>
    
  </div>

  <script>
    document.getElementById('guess-button').addEventListener('click', function() {
      const blockNameInput = document.getElementById('blockInput').value;
      const blockName = "{{ block_name }}"; // Use the block name passed from Flask
      fetch('/guess', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ guess: blockNameInput, block_name: blockName })
      })
      .then(response => response.json())
      .then(data => {
        const resultMessage = document.getElementById('result-message');
        resultMessage.textContent = data.message;
        resultMessage.classList.remove('text-green-500', 'text-red-500', 'bg-green-100', 'bg-red-100');
        if (data.success) {
          resultMessage.classList.add('text-green-500', 'bg-green-100', 'border', 'border-green-400');
          setTimeout(() => { location.replace(location.href); }, 2000); 
        } else {
          resultMessage.classList.add('text-red-500', 'bg-red-100', 'border', 'border-red-4000');
        }
      });
    });

    document.addEventListener('DOMContentLoaded', function () {
      fetch('/static/blocks.json') // Adjust the path to the blocks.json file
        .then(response => response.json())
        .then(data => {
          let dropdownContent = document.getElementById('dropdownContent');
          data.forEach(block => {
            let blockDiv = document.createElement('div');
            blockDiv.onclick = () => selectBlock(block.name);
            blockDiv.innerHTML = `<img src="${block.image}" class="block-image" alt="${block.name}"> ${block.name}`;
            dropdownContent.appendChild(blockDiv);
          });
        });

      document.getElementById('blockInput').addEventListener('input', function () {
        let filter = this.value.toLowerCase();
        let blocks = document.getElementById('dropdownContent').getElementsByTagName('div');

        for (let i = 0; i < blocks.length; i++) {
          let txtValue = blocks[i].textContent || blocks[i].innerText;
          if (txtValue.toLowerCase().indexOf(filter) > -1) {
            blocks[i].style.display = "";
          } else {
            blocks[i].style.display = "none";
          }
        }
        document.getElementById('dropdownContent').style.display = 'block';
      });

      document.addEventListener('click', function (event) {
        var isClickInside = document.getElementById('blockInput').contains(event.target) ||
          document.getElementById('dropdownContent').contains(event.target);
        if (!isClickInside) {
          document.getElementById('dropdownContent').style.display = 'none';
        }
      });
    });

    function selectBlock(blockName) {
      document.getElementById('blockInput').value = blockName;
      document.getElementById('dropdownContent').style.display = 'none';
    }

    document.getElementById('hint-button').addEventListener('click', function() {
  fetch('/get_hint', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ block_name: "{{ block_name }}", used_hints: usedHints })
  })
  .then(response => response.json())
  .then(data => {
    if (data.hint) {
      usedHints.push(data.hint);
      const hintDiv = document.createElement('div');
      hintDiv.className = "bg-zinc-700 text-white p-2 rounded-md shadow-md";
      
      const hintHeader = document.createElement('div');
      hintHeader.className = "cursor-pointer font-bold";
      hintHeader.textContent = "Hint " + (usedHints.length);
      
      const hintContent = document.createElement('div');
      hintContent.textContent = data.hint;
      hintContent.className = "mt-2";
      hintContent.style.display = "none";

      hintHeader.addEventListener('click', () => {
        const isVisible = hintContent.style.display === "block";
        hintContent.style.display = isVisible ? "none" : "block";
      });

      hintDiv.appendChild(hintHeader);
      hintDiv.appendChild(hintContent);
      document.getElementById('additional-hints').appendChild(hintDiv);
      updateHintCounter();
    } else {
      alert('No more hints available.');
    }
  });
});

    let usedHints = ["{{ initial_hint }}"];

    function updateHintCounter() {
      const totalHints = {{ total_hints }};
      const usedHintsCount = usedHints.length;
      document.getElementById('hint-counter').textContent = `Hints available: ${totalHints - usedHintsCount}/${totalHints - 1}`;
    }

    updateHintCounter();
  </script>
</body>

</html>